<!DOCTYPE html>
<head>
    <title>HOME</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

</head>
<body>

    <canvas id="lineChart" width="900", height="400"></canvas>

    <script>
        var ctx = document.getElementById('lineChart').getContext("2d");
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ date | safe }},
                datasets: [
                    {
                        label: "Stock",
                        data: {{ closing | safe }},
                        fill: false,
                        borderColor: "rgb(75, 192, 192)",
                        lineTension: 0.1
                    }
                ]
            },
            options: {
                responsive: false
            }
        });
    </script>

</body>

